body {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
	font-family: var(--main-font-family);
	line-height: 1.6;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);

	a {
		color: var(--main-text-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-underline-offset: 3px;
		}
	}
}
