<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Hector Coronado Frontend Engineer resume" />
		<meta
			name="keywords"
			content="Hector Coronado, Software Engineer, Portfolio, Web Developer" />
		<meta name="author" content="Hector Coronado" />
		<meta name="robots" content="index, follow" />
		<link rel="stylesheet" href="reset.css" />
		<link rel="stylesheet" href="resume.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Karla&family=Space+Mono&display=swap"
			rel="stylesheet" />
		<link rel="icon" href="/favicon.ico" />
		<link
			rel="icon"
			href="/assets/favicon/favicon.svg"
			type="image/svg+xml"
			sizes="any" />
		<link rel="apple-touch-icon" href="/assets/favicon/favicon-180.png" />
		<link rel="manifest" href="/manifest.json" />
		<title>Hector Coronado | Resume</title>
	</head>
	<body>
		<header class="header">
			<nav class="headerNav">
				<a class="headerName" href="/">Hector</a>
				<ul class="headerLinksList">
					<li><a class="headerLink" href="/index.html#about">About</a></li>
					<li><a class="headerLink" href="/resume">Resume</a></li>
					<li>
						<a class="headerLink" href="/index.html#contactForm">Contact</a>
					</li>
				</ul>
			</nav>
		</header>
		<main class="main"><%- content %></main>
	</body>
</html>
